main {
    display:flex;
    flex-direction:row;
}

.round {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
}

.round .spacer { 
    flex-grow:1; 
}
.round .spacer:first-child,
.round .spacer:last-child { 
    flex-grow:.5; 
}

.round .game-spacer {
    flex-grow:1;
}

.round .game-spacerr {
    flex-grow:1;
}

.round .win-right {
    flex-grow:1;
}

.round .win-left {
    flex-grow:1;
}

body {
    padding:10px;
    line-height:1.4em;
    background-color: #000;
}

.game{
    padding-left: 3px;
    padding-right: 3px;
}

.win-top{ 
    border-top:1.4px solid #fff; 
}

.win-bottom{ 
    border-bottom:1.4px solid #fff; 
}

.win-right{ 
    border-right:1.4px solid #fff;
    min-height:40px;
    height: 80px;
}

.win-left{ 
    border-left:1.4px solid #fff;
    min-height:40px;
    height: 80px;
}

.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
    height: 80px;
}

.game-spacerr{ 
    border-left:1px solid #aaa;
    min-height:40px;
    height: 80px;
}

.game-top{ 
    border-top:1px solid #aaa;
}

.game-bottom{ 
    border-bottom:1px solid #aaa; 
}